@page "/"

<PageTitle>Home</PageTitle>

<h1>Facturas Alejandra!</h1>

Bienvennidos desplace /vista para ver las facturas.
<p>
    <a href="/Vista" class="btn btn-primary btn-lg">
        Ir a Facturas Registradas 📄
    </a>

</p>

